@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The James St. Bakery was found in 2012 in Seattle, WA with the intention of bringing the finest quality baked goods to
    the Emerald City. We put our customers first, and only use truly organic, Soylent Green in to make and bake our goods! 
    After all, danishes taste so much better with a little hint of flesh in them....
    </p>
