@model BakeryASP.Models.Order
@{
    ViewBag.Title = "Result";
}

<h2>Thank you for ordering</h2>
<p>We receive them in sequence and prepare them as soon as received.</p>
<p>Come into the bakery to get your order!</p>
