@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>James St. Bakery</h1>
    <p class="lead">A True Seattle Baked Goods Store</p>
    <h2 class="lead">
        Our pastries are as flakey as a dehydrated senior citizen in the middle of the
        Sahara Desert! All of our coffee still screams from the beans that are roasted at the most
        perfected temperature of 285&deg;F. Our dark roast coffee is darker than the soul of Satan!
        Our homemade pies have the juiciest fruits and the crustiest crusts, you'll be amazed at
        how identical it looks to fumunda cheese!
    </h2>
</div>